<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="SmtpClientHost" value="smtp.gmail.com" />
		<add key="SmtpClientPort" value="587" />
		<add key="MailLogin" value="labwork15kafis@gmail.com" />
		<add key="MailPassword" value="passlab15" />
	</appSettings>
</configuration>